<h2>All works</h2>

<p>Here is the list of all works</p>

<table>
  <tbody>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Date/Time</th>
      <th>Hours</th>
      <th>Details</th>
    </tr>
      <% @works.each do |work| %>
          <tr>
            <td><%= work.user %></td>
            <td><%= link_to work.project, work.project %></td>
            <td><%= work.datetimeperformed.strftime('%d/%m/%Y %H:%M') %></td>
            <td><%= work.hours %></td>
            <td><%= link_to 'View details', work %></td>
          </tr>
      <% end %>
  </tbody>
</table>