<%= form_for @company do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit  @company.new_record? ? "Create Company"  : "Update Company" %>
    </div>
<% end %>

<% content_for :aside do %>
    <%= render 'sidebar' %>
<% end %>